/refFinder/DMD HCP_SiteMS v12.6ANNO FC2 v1.pdf
/refFinder/Refs/
/refFinder/Sternberg_ref/
/refFinder/*.docx
/refFinder/__pycache__/
/refFinder/bad_refs/
/refFinder/cookiecutter-pypackage/
/refFinder/dice_coefficient.py
/refFinder/dmd_refs/
/refFinder/example_first_output.txt
/refFinder/dmd_refs_out/
/refFinder/euclidean_test.py
/refFinder/example_references.json
/refFinder/get_pdf_info.py
/refFinder/example_second_output.txt
/refFinder/join_punctuation.py
/refFinder/match_sentence.py
/refFinder/myparser.py
/refFinder/notes.org
/refFinder/one_ref/
/refFinder/output.txt
/refFinder/output_before_gens.txt
/refFinder/output_docx.txt
/refFinder/output_pdfminer.txt
/refFinder/output_tecoISI.txt
/refFinder/output_txt.txt
/refFinder/outputfiles1/
/refFinder/outputfiles2/
/refFinder/parser.py
/refFinder/refactor_notes.org
/refFinder/references_1.txt
/refFinder/references_64refs.json
/refFinder/sample.txt
/refFinder/sample2_answers.txt
/refFinder/sample_2.txt
/refFinder/sample_answers.txt
/refFinder/test.txt
/refFinder/test_ref.txt
/refFinder/three_refs/
/refFinder/xtandi_pi
/refFinder/xtandi_pi.pdf
/refFinder/src/__pycache__/
